/* Body styling: center content both vertically and horizontally, full viewport height */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take up the full height of the viewport */
    margin: 0;
    font-family: Arial, sans-serif; /* Set the default font */
    text-align: center; /* Center the text */
}


/* Container styling: control the width and responsiveness of the main container */
.container {
    max-width: 600px; /* Limit the maximum width of the container */
    width: 90%; /* Make it responsive to the viewport */
}

/* Logo styling: set size and margin */
.logo {
    opacity: 0; /* Initial opacity set to 0 for fade-in */
    max-width: 170px; /* Limit the maximum width of the logo for a minimalist feel */
    margin-bottom: 1.5rem; /* Space below the logo */
}

/* General Fade-In Keyframes for the elements */
@keyframes fadeIn {
    from {
        opacity: 0; /* Start fully transparent */
    }
    to {
        opacity: 1; /* End fully opaque */
    }
}

/* Heading styling: set size and spacing */
.heading {
    opacity: 0; /* Initial opacity set to 0 for fade-in */
    font-size: 1.6rem; /* Slightly smaller font size for a minimal look */
    font-weight: 400; /* Regular font weight for a minimalist feel */
    margin-bottom: 1rem; /* Space below the heading */
}

/* Construction line styling: centering and initial opacity for fade-in */
.construction-line {
    opacity: 0; /* Initial opacity set to 0 for fade-in */
    margin: 10px 0; /* Space above and below the construction message */
}

/* Styling for text inside construction line */
.construction-line span {
    font-size: 1rem; /* Smaller font size for a minimal effect */
    font-weight: 300; /* Light font weight for simplicity */
}

.join-waitlist {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between elements */
    padding: 8px 16px;
    margin: 10px 10px;
    border: 2px solid #333;
    border-radius: 25px;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color
}


.join-waitlist:hover, .join-waitlist:focus {
    background-color: black;
    color: white;
}

/* Fade-in animation for group 1 (logo, heading, and first line) */
.fade-in-group-1 {
    animation: fadeIn 1.5s ease-in forwards; /* Fade in animation lasting 1.5 seconds */
    animation-delay: 0.5s; /* Start after a delay of 0.5 seconds */
}

/* Fade-in animation for group 2 (construction message, contact) */
.fade-in-group-2 {
    animation: fadeIn 1.5s ease-in forwards; /* Fade in animation lasting 1.5 seconds */
    animation-delay: 2s; /* Start after a delay of 2 seconds */
}
